@function rem($value) {
	@return ($value / 10px) * 1rem;
}

@function color($color-name: primary, $color-variant: default) {
	@return map-get(map-get($theme-colors, $color-name), $color-variant);
}

@function spacing($value: xs) {
	@return map-get($spacings, $value);
}

@function shadow($value: 1) {
	@return map-get($shadows, $value);
}

@function px($value: 1) {
	@return $value * 8px;
}

// Usage:
// font-size: fluid(fontsize on desktop, fontsize on mobile)
// Important: use values without units
@function fluid($maxValue, $minValue) {
	$x: ($maxValue - $minValue)/ ($display-wide - $display-narrow);
	$y: $maxValue - $display-wide * $x;
	@return calc(#{100 * $x}vw + #{$y}px);
}
