// 1. Settings
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$theme-colors: (
	primary: (
		default: #e95e30,
		light: #4592ff,
		dark: #0159d3,
	),
	secondary: (
		default: #68bee8,
		light: #529fc4,
		dark: #abdbf2,
	),
	tertiary: (
		default: #ff470b,
		light: #e15324,
		dark: #f46b3e,
	),
	black: (
		default: #000000,
	),
	white: (
		default: #ffffff,
	),
	support: (
		default: #141414,
		dark: #2d2d2d,
		light: #f4f4f4,
		lighter: #ffffff,
	),
	succes: (
		default: #2dcb48,
		dark: #28b440,
	),
	warning: (
		default: #ffcc00,
		dark: #e4b80b,
	),
	error: (
		default: #f43319,
		dark: #d12d17,
	),
);

$gradients: (
	primary: linear-gradient(to bottom, color(primary), color(white)),
	secondary: linear-gradient(to bottom, color(secondary), color(white)),
	tertiary: linear-gradient(to bottom, color(tertiary), color(white)),
	dark: linear-gradient(to bottom, color(black), color(white)),
	light: linear-gradient(to bottom, color(white), color(white)),
);

$shadows: (
	xs: (
		0 1px 1px 0 rgba(0, 0, 0, 0.05),
		0 0 3px 0 rgba(0, 0, 0, 0.05),
	),
	sm: (
		0 4px 6px 1px rgba(0, 0, 0, 0.06),
		0 0 1px 1px rgba(0, 0, 0, 0.02),
	),
	md: (
		0 6px 10px 2px rgba(0, 0, 0, 0.08),
		0 0 2px 1px rgba(0, 0, 0, 0.03),
	),
	lg: (
		0 16px 24px 0 rgba(0, 0, 0, 0.1),
		0 0 8px 2px rgba(0, 0, 0, 0.03),
	),
	xl: (
		0 18px 26px 0 rgba(0, 0, 0, 0.12),
		0 0 8px 2px rgba(0, 0, 0, 0.035),
	),
);

$transitions: (
	xs: 0.1s ease-in-out,
	sm: 0.2s ease-in-out,
	md: 0.3s ease-in-out,
	lg: 0.4s ease-in-out,
	xl: 0.5s ease-in-out,
);

$spacings: (
	none: 0,
	xs: px(1),
	sm: px(2),
	md: px(4),
	lg: px(8),
	xl: px(16),
);

// 2. Options
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Screen sizes from which the fluid function calculates pixels.
$display-wide: 1920;
$display-narrow: 375;

$body-color: #555458;
$body-background: #ffffff;

$border-radius: px(0.5);
$default-margin: px(3);

// 2.1 Typography
@import url("https://fonts.googleapis.com/css?family=Domine:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

$font-family-sans-serif: "Domine", sans-serif;
$font-family-monospace: "Courier New", Courier, monospace;
$font-family-base: "Roboto", sans-serif;
$font-family-icons: "Font Awesome 5 Pro";
$font-family-icons-brands: "Font Awesome 5 Brands";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-base: 16px;
$font-weight-base: $font-weight-regular;
$line-height-base: 1.5;
$font-family-base: $font-family-base;

$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.85;
$font-size-md: $font-size-base * 1.15;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.35;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.5;
$headings-margin-bottom: px(2);

$font-size-h1: $font-size-base * 2.5;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base;

$paragraph-margin: $default-margin;
$paragraph-lead-font-size: $font-size-md;
$paragraph-lead-margin-bottom: $paragraph-margin * 1.2;

$link-color: color(primary);
$link-decoration: none;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: none;

$hr-color: color(support, light);
$hr-height: spacing(lg);

$list-margin: $default-margin;
$list-item-margin: px(0.5);

$blockquote-margin: px(8) 0;
$blockquote-padding: px(4) px(3);

// 2.2 Buttons
$button-colors: (
	primary: color(primary),
	secondary: color(secondary),
);

$button-font-weight: $font-weight-bold;
$button-font-color: white;
$button-border-radius: $border-radius;

$button-sm-padding: px(0.5) px(1.5);
$button-padding: px(1) px(3);
$button-lg-padding: px(1.5) px(3);

$button-sm-font-size: $font-size-sm;
$button-font-size: $font-size-base;
$button-lg-font-size: $font-size-lg;

// 2.3 Forms
$input-font-size: $font-size-base;
$input-label-font-size: 14px;
$input-background-color: color(support, light);
$input-active-color: color(black);
$input-radius: $border-radius;
$input-border-color: color(support, light);
$input-invalid-color: color(error);
$input-placeholder-color: color(black);
$input-radio-checkbox: color(primary);

// 2.4 Images
$image-margin-bottom: $default-margin;

// 3. Layouts
//
// Define some settings for custom components, such as the header
// FAQ, and other components.

// 3.1 Header
$header-toggler-height: 18px;
$header-toggler-width: 23px;
$header-toggler-color: color(primary);

$header-mobile-breakpoint: md;
$header-mobile-background: color(support, light);
