.accordion {

	&__group {
		margin-bottom: 64px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__category {
	}

	&__items {
	}

	&__item {
		margin-bottom: 24px;

		background: color(support, light);

		&:last-child {
			margin-bottom: 0;
		}

		&--active {

			.accordion__header {

				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 21px 30px;

		cursor: pointer;

		user-select: none;

		&::after {
			font-weight: bold;

			font-family: "Font Awesome 5 Pro";

			content: "\f078";

			@include transition(transform, md);
		}
	}

	&__title {
		margin: 0;
	}

	&__content {
		display: none;
		padding: 0 30px 21px 30px;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}