.menu {
	$menu: &;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	@include media-breakpoint-down($header-mobile-breakpoint) {
		padding: px(3);
	}

	&--horizontal {
		flex-direction: row;

		@include media-breakpoint-down($header-mobile-breakpoint) {
			flex-direction: column;
		}

		#{$menu}__submenu {
			position: absolute;
			z-index: 1;

			@include media-breakpoint-down($header-mobile-breakpoint) {
				position: relative;
			}
		}
	}

	&__item {
		$item: &;
		position: relative;
		list-style: none;

		&--has-children {
			> #{$menu}__link {

				&::after {
					display: inline-block;
					margin-left: px(1);
					font-family: $font-family-icons;
					content: "\f107";

					@include transition(transform, sm);
				}
			}
		}

		&--active {
			&#{$item}--has-children {
				> #{$menu}__link {

					&::after {
						transform: rotate(-180deg);
					}
				}
			}

			#{$menu}__submenu {
				transform: none;
				visibility: visible;
				opacity: 1;
				pointer-events: initial;

				@include media-breakpoint-down($header-mobile-breakpoint) {
					display: block;
				}
			}
		}
	}

	&__submenu {
		transform: translateY(20px);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;

		@include transition(all, sm);

		@include media-breakpoint-down($header-mobile-breakpoint) {
			display: none;
			transform: none;
			visibility: visible;
			opacity: 1;
			pointer-events: initial;
		}
	}

	&__link {
		display: block;
		padding: px(1) px(2);
	}
}

.submenu {
	width: 180px;
	background-color: color(white);

	@include media-breakpoint-down($header-mobile-breakpoint) {
		width: 100%;
	}

	&__list {
		padding-left: 0;
	}

	&__link {
		display: block;
		padding: px(1) px(2);

		@include transition(all, sm);

		@include media-breakpoint-down($header-mobile-breakpoint) {
			padding: px(1) px(4);
		}

		&:hover {
			background-color: darken(color(white), 5%);
		}
	}
}
