.posts {
	margin-bottom: $default-margin;

	&__slider {
		padding-right: 80px;
		padding-left: 80px;
	}

	&__grid {
		margin-bottom: -$default-margin;

		.post {
			margin-bottom: $default-margin;
		}
	}

	.post {
		overflow: hidden;

		border-radius: $border-radius;

		&__thumbnail {
			height: 150px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__content {
			padding: 20px;

			background-color: color(support, light);
		}
	}
}
