.toggler {

	position: fixed;

	right: 15px;
	z-index: 520;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $header-toggler-width;
	height: $header-toggler-height;

	cursor: pointer;

	div {
		width: 100%;
		height: 2px;

		background-color: $header-toggler-color;
		border-radius: 2px;
	}

	div {
		transition: transform map-get($transitions, sm), opacity map-get($transitions, sm);

		&:nth-child(1) {
			transform-origin: right top;
		}

		&:nth-child(2) {
			transform-origin: right center;
		}

		&:nth-child(3) {
			transform-origin: right bottom;
		}
	}

	&--active {

		div {

			&:nth-child(1) {
				transform: translateY(0) rotate(-45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
}
