.header {
	$header: &;

	&--active {
		@include media-breakpoint-down($header-mobile-breakpoint) {
			#{$header}__menu {
				transform: translateX(0);
			}

			#{$header}__navigation {
				background-color: rgba($header-mobile-background, .3);
				visibility: visible;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding-top: px(2);
		padding-bottom: px(2);

		@extend .container;
	}

	&__brand {

		img {
			width: 240px;
		}
	}

	&__navigation {
		margin-left: auto;

		@include media-breakpoint-down($header-mobile-breakpoint) {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 500;
			background-color: rgba($header-mobile-background, 0);
			visibility: hidden;

			@include transition(all);
		}
	}

	&__menu {
		@include media-breakpoint-down($header-mobile-breakpoint) {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			max-width: 300px;
			background-color: $header-mobile-background;
			transform: translateX(100%);

			@include transition(transform);
		}
	}

	&__toggler {
		display: none;

		@include media-breakpoint-down($header-mobile-breakpoint) {
			display: flex;
		}
	}
}
