.slider {
	position: relative;

	&__swiper {
		position: unset;
	}

	&__wrapper {
	}

	&__slide {
	}

	&__pagination {
		margin-top: 8px;

		text-align: center;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;

			background-color: color(support, light);
			cursor: pointer;
			opacity: 1;

			@include transition(background-color);
		}

		.swiper-pagination-bullet-active {
			background-color: color(primary);
		}
	}

	&__button {
		position: absolute;
		top: 50%;
		z-index: 10;

		width: 40px;
		height: 40px;

		color: color(white);
		line-height: 40px;
		text-align: center;

		background-color: color(primary);
		border-radius: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		&--prev {
			left: 15px;
		}

		&--next {
			right: 15px;
		}
	}

	&--buttons-outside {
		padding-right: 75px;
		padding-left: 75px;

		.slider__button {

			&--prev {
				left: 0;
			}

			&--next {
				right: 0;
			}
		}
	}
}
