.lead {
    font-size: 18px;
    margin-bottom: 32px;
}

blockquote {
	margin: 20px 0;
	padding: 10px;
	background: #f5f5f5;
	quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
	margin-right: 0.25em;
	color: #ccc;
	font-size: 4em;
	line-height: 0.1em;
	vertical-align: -0.4em;
	content: open-quote;
}

blockquote p {
	display: inline;
}

.btn {
	display: inline-block;
	margin-right: 8px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	color: #000;
	background-color: #f1f1f1;
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	text-decoration: none;
}

hr {
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	background: #f1f1f1;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.17em;
}

h4, .h4 {
    font-size: 1em;
}

h5, .h5 {
    font-size: 0.83em;
}

h6, .h6 {
    font-size: 0.67em;
}
