.fw-option-type-builder .builder-item-type {
	transition: none !important;
}

.fw-option-type-builder .builder-item-type:hover {
	background-color: #eee;
}

#fw-options-box-page-builder-box .panel.fw-row {
	padding-bottom: 0;
}

#fw-options-box-page-builder-box .pb-item-type-column .pb-item-type-column > .panel {
	padding-top: 12px;
}

#fw-options-box-page-builder-box .pb-item-type-column .pb-item-type-column .pb-item-column-collapsed .pb-item {
	padding-bottom: 6px !important;
}

#fw-options-box-page-builder-box .pb-item-type-column > .builder-items {
	padding-top: 0;
	padding-bottom: 0;
}

#fw-options-box-page-builder-box .pb-item-type-column > .builder-items > .builder-item {
	padding: 11px;
}

.pb-item-type-column > .builder-items {
	min-height: 75px !important;
	padding-bottom: 13px !important;
}

#fw-options-box-page-builder-box .pb-item-type-column > .builder-items > .builder-item .builder-items .builder-item {
	padding-bottom: 0 !important;
}

#fw-options-box-page-builder-box .pb-item-type-column > .builder-items > .builder-item .pb-item-type-simple {
	padding-left: 40px;
}

#fw-options-box-page-builder-box .pb-item-type-column > .builder-items > .builder-item .pb-item-type-simple .fw-ext-builder-icon {
	position: absolute;
	top: 50%;
	left: 10px;

	width: 16px;

	line-height: 26px;
	text-align: center;

	transform: translateY(-50%);
}

#fw-options-box-page-builder-box .fw-option-type-builder span.fw-ext-builder-icon {
	font-size: 20px;
}

#fw-options-box-page-builder-box .fw-builder-placeholder {
	height: 70px !important;
	margin-bottom: -10px !important;
}

#fw-options-box-page-builder-box .fw-builder-placeholder.ui-draggable {
	width: calc(100% - 22px) !important;
	height: 50px !important;
	margin-bottom: 0;
}

.fw-options-tabs-wrapper > .fw-options-tabs-contents {
	margin-top: 0 !important;
}

.fw-modal .fw-backend-option-label {
	width: 100% !important;
	margin-bottom: 5px !important;
}

.fw-modal .fw-backend-option-desc {
	width: 100% !important;
	margin-left: 0 !important;
}

.fw-modal .fw-backend-option-input {
	width: 100% !important;
}

.fw-modal .fw-option-type-text {
	width: 100% !important;
}

.fw-modal .fw-backend-option-design-default > .fw-backend-option-input.width-type-fixed > .fw-inner,
.fw-modal .fw-backend-option-design-customizer > .fw-backend-option-input.width-type-fixed > .fw-inner,
.fw-modal .fw-backend-option-fixed-width {
	max-width: none !important;
}

.fw-modal .fw-option-type-upload p {
	float: left;
	margin: 0 0 0 10px;

	line-height: 50px;
}

.fw-modal .fw-option-type-upload .thumb {
	float: left;
}

.mce-floatpanel {
	z-index: +999999 !important;
}

.qtip.qtip-fw-builder {
	display: none !important;
}

.fw-option-type-page-builder .builder-item-type p {
	padding-right: 4px;
	padding-left: 4px;
	overflow: hidden;
}

#tinymce .lead {
	font-size: 16px;
}

.page-builder-visible .edit-post-visual-editor {
	flex: 0;
	padding: 40px 0 65px 0;
}

#fw-options-tab-styling {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

#fw-options-tab-styling::before {
	display: none;
}