@each $size, $value in $spacings {
	.mtb-#{$size} {
		margin-top: $value / 2;
		margin-bottom: $value / 2;
	}

	.mt-#{$size} {
		margin-top: $value;
	}

	.mb-#{$size} {
		margin-bottom: $value;
	}

	.ml-#{$size} {
		margin-left: $value;
	}

	.mr-#{$size} {
		margin-right: $value;
	}

	.pt-#{$size} {
		padding-top: $value;
	}

	.pb-#{$size} {
		padding-bottom: $value;
	}

	.pl-#{$size} {
		padding-left: $value;
	}

	.pr-#{$size} {
		padding-right: $value;
	}
}
