.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	width: auto;

	padding: $button-padding;
	overflow: visible;

	color: inherit;
	font-weight: $button-font-weight;

	font-size: $button-font-size;
	line-height: 1.4;
	letter-spacing: 1px;
	white-space: nowrap;
	text-decoration: none;

	background: none;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;

	border-radius: $button-border-radius;

	appearance: none;

	@include transition(all);

	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		cursor: pointer;
	}

	&:active {
		opacity: 1;
	}

	&:disabled {
		opacity: .5;

		&:hover {
			cursor: not-allowed;
		}
	}
}

.btn {
	@each $name, $color in $button-colors {
		&--#{$name} {
			color: contrast($color);

			background-color: $color;
			border-color: $color;

			&:hover {
				color: contrast(darken($color, 10%));

				background-color: darken($color, 10%);
				border-color: darken($color, 10%);
			}

			&:focus {
				box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
			}
		}

		&--#{$name}-outline {
			color: $color;

			background-color: transparent;
			border-color: $color;

			&:hover {
				color: contrast($color);

				background-color: $color;
			}
		}

		&--#{$name}-text {
			color: $color;

			border-color: transparent;
		}
	}

	&--lg {
		padding: $button-lg-padding;

		font-size: $button-lg-font-size;
	}

	&--sm {
		padding: $button-sm-padding;

		font-size: $button-sm-font-size;
	}
}

p {

	.btn:nth-child(n + 2) {
		margin-left: 16px;
	}
}
