form {
	fieldset {
		margin: 15px 0;
		padding: 15px;
		font-size: $input-label-font-size;
		border: 1px solid $input-border-color;
		border-radius: 5px;

		legend {
			padding: 0 5px;
		}
	}

	label {
		padding-bottom: 5px;
		cursor: pointer;
	}

	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 10px 15px;
		font-size: $input-font-size;
		line-height: 20px;
		background: $input-background-color;
		border: 1px solid $input-border-color;
		border-radius: $input-radius;
		appearance: none;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&:focus {
			border-color: $input-active-color;
			outline: none;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: none;

		& + label {
			position: relative;
			padding-left: 25px;
			user-select: none;

			&::before {
				position: absolute;
				top: 50%;
				left: 0px;
				width: 16px;
				height: 16px;
				background: $input-background-color;
				border: 1px solid $input-border-color;
				transform: translate(0, -50%);
				content: "";
			}

			&::after {
				position: absolute;
				top: 50%;
				left: 0px;
				width: 16px;
				height: 16px;
				background: $input-radio-checkbox;
				transform: translate(0, -50%) scale(0);
				content: "";

				@include transition(transform);
			}
		}

		&:checked + label {
			font-weight: bold;

			&::after {
				transform: translate(0, -50%) scale(0.6);
			}
		}
	}

	input[type="radio"] {
		& + label {
			position: relative;
			padding-left: 25px;

			&::before {
				border-radius: 100%;
			}

			&::after {
				border-radius: 100%;
			}
		}
	}

	.select,
	.ginput_container_select {
		position: relative;

		&::after {
			position: absolute;
			top: 50%;
			right: 20px;
			font-size: 16px;
			font-family: "Font awesome 5 Pro";
			transform: translate(0, -50%);
			content: "\f078";
			pointer-events: none;
		}

		select:hover {
			cursor: pointer;
		}

		select:disabled {
			opacity: 0.5;
		}
	}

	textarea {
		display: block;
		width: 100%;
		min-height: 100px;
		line-height: 1.4;
		appearance: none;
		resize: none;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&:focus {
			border-color: $input-active-color;
			outline: none;
		}
	}

	.upload {
		&__select {
			display: none;
		}

		&__button {
			@extend .btn;

			@extend .btn--primary;
		}

		&__result {
			margin-left: 20px;
			color: color(black);
			font-size: $font-size-sm;
		}
	}
}

.gform_wrapper {
	margin-bottom: $default-margin;

	.validation_error {
		margin-bottom: $default-margin;
		padding: 10px;
		color: color(white);
		background-color: lighten(color(error), 10%);
		border-left: 5px solid color(error);
	}

	// Form
	.gform {
		// Heading
		&_heading {
			padding-bottom: $default-margin;
		}

		&_title {
			margin-bottom: 0;
		}

		&_description {
		}

		// Body
		&_body {
			padding-bottom: $default-margin;
		}

		&_fields {
			margin-bottom: 0;
			padding: 0;
			list-style-type: none;

			@extend .row;
		}

		// Footer
		&_footer {
		}

		&_submit {
			@extend .btn;

			@extend .btn--primary;
		}
	}

	// Fields
	.gfield {
		width: 100%;
		margin-bottom: 15px;
		padding-right: 15px;
		padding-left: 15px;

		&_visibility_hidden {
			display: none;
		}

		&_label {
		}

		&_required {
			padding-left: 1px;
			color: color(error);
		}

		&_description {
			padding-top: 3px;
			font-size: $font-size-sm;
		}

		&_error {
			.validation_message,
			.gfield_label {
				color: color(error);
			}
		}
	}
}
