img {
	max-width: 100%;
	height: auto;

	object-fit: cover;
	object-position: center;
	font-family: "object-fit: cover; object-position: center;";
}

svg {
	max-height: 100%;
}

figure,
.figure {
	max-width: 100%;
	margin: 0 0 $image-margin-bottom 0;

	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}

	figcaption {
		padding-top: 3px;

		font-size: $font-size-sm;
		font-style: italic;
	}
}

figure.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

figure.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

figure.aligncenter,
img.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
