.section {
	position: relative;

	padding-top: 80px;
	padding-bottom: 80px;

	background-position: center;
	background-size: cover;

	&--alt {
		background-color: color(support, light);
	}

	&--center-horizontal {

		.row {
			justify-content: center;
		}
	}
    
	&--center-vertical {

		.row {
			align-items: center;
		}
	}
}
