body {
	color: $body-color;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	font-family: $font-family-base;
	line-height: $line-height-base;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 $headings-margin-bottom;

	color: $headings-color;
	font-weight: $headings-font-weight;
	font-family: $headings-font-family;
	line-height: $headings-line-height;
}

.h1,
h1 {
	font-size: $font-size-h1;
}

.h2,
h2 {
	font-size: $font-size-h2;
}

.h3,
h3 {
	font-size: $font-size-h3;
}

.h4,
h4 {
	font-size: $font-size-h4;
}

.h5,
h5 {
	font-size: $font-size-h5;
}

.h6,
h6 {
	font-size: $font-size-h6;
}

// Texts
p {
	margin-top: 0;
	margin-bottom: $paragraph-margin;

	&.lead {
		margin-bottom: $paragraph-lead-margin-bottom;

		font-size: $paragraph-lead-font-size;
		line-height: 1.8;
	}
}

strong,
b {
	font-weight: $font-weight-bold;
}

a {
	color: $link-color;
	text-decoration: $link-decoration;

	@include transition(color);

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

// Blockquote
blockquote {
	margin: $blockquote-margin;
	padding: $blockquote-padding;

	font-size: $font-size-xl;

	background: color(support, light);

	border-left: 10px solid color(primary);

	quotes: "\201C""\201D""\2018""\2019";

	p {
		margin: 0;

		&::before,
		&::after {
			display: inline;
		}

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}
}

// Others
hr {

	height: 1px;
	margin-top: $hr-height / 2;
	margin-bottom: $hr-height / 2;

	background: color(support, light);
	border: 0;
}

.seperator {
	margin-top: $hr-height / 2;
	margin-bottom: $hr-height / 2;

	border: 0;

	&--line {
		height: 1px;

		background: color(support, light);
	}
}
